<footer class="site-footer">
    <div class="container">
        {{#if @site.secondary_navigation}}
            <nav class="footer-nav">
                {{navigation type="secondary"}}
            </nav>
        {{/if}}
        <div class="copyright">
            {{!-- Powered by <a href="https://ghost.org/" target="_blank">Ghost</a> --}}
            All Images &#169; Tyler Casson. All Rights Reserved.
        </div>
    </div>
</footer>

{{> pswp}}